Vanessa é uma cientista de dados que está realizando algumas análises com dados ambientais. Ela está desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes países do mundo, mas para isso precisa das estimativas populacionais desses países. Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da página Wikipédia.

Assim como Vanessa, seu desafio é obter um DataFrame da tabela que contém as informações do número de habitantes de cada país.

In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')

In [3]:
df[0]

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,NaN,2,China,1 426 391 281,+87.778.313,Censo oficial
2,NaN,3,Estados Unidos,346 353 341,+31.241.565,Censo oficial
3,NaN,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,NaN,195,Vaticano,879,NaN,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

In [4]:
# Removendo coluna unnamed: 0
df[0].drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df[0]

,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,2,China,1 426 391 281,+87.778.313,Censo oficial
2,3,Estados Unidos,346 353 341,+31.241.565,Censo oficial
3,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...
245,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,195,Vaticano,879,NaN,Estimativa oficial
247,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

In [6]:
# Filtrando colunas especificas
df[0].filter(items=['Posição', 'País (ou território dependente)', 'Estimativa da ONU'])

    Posição    País (ou território dependente) Estimativa da ONU
0         1                              Índia     1 429 921 746
1         2                              China     1 426 391 281
2         3                     Estados Unidos       346 353 341
3         4                          Indonésia       277 184 719
4         5                          Paquistão       240 215 932
..      ...                                ...               ...
245       –     Ilha de Ascensão (Reino Unido)             1 100
246     195                           Vaticano               879
247       –  Ilhas Cocos (Keeling) (Austrália)               605
248       –     Tristão da Cunha (Reino Unido)               264
249       –       Ilhas Pitcairn (Reino Unido)                67

[250 rows x 3 columns]