#### Analisando a idade dos clientes por método de pagamento

Após analisar o desempenho das vendas por categoria de produto, agora focaremos em entender como diferentes métodos de pagamento estão associados a diferentes faixas etárias dos compradores. Esta análise é vital para identificar preferências de pagamento de acordo com a idade, o que pode orientar a implementação de estratégias de marketing mais eficazes e aprimorar a experiência de compra.

Sua missão nesta atividade é aplicar o método groupby() para agrupar os compradores por método de pagamento e calcular os valores mínimos, médios e máximos da idade dos compradores para cada método.

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv"

df = pd.read_csv(url, na_values=["Infinity", "-Infinity", "inf", "-inf", "NaN"])

df.head()

,ID_compra,unidade,cidade,data,horario,categoria_produto,valor_unitario,quantidade,valor_total,metodo_pagamento,ID_cliente,programa_cashback,idade,avaliacao_compra
0,6,Parque das nações,Santo André,2022-01-03,15:40,Eletrônicos,4457.9,4,17831.6,Dinheiro,6149,Sim,30,10
1,5,Oswaldo Cruz,São Caetano do Sul,2022-01-03,16:48,Ferramentas e construção,115.9,1,115.9,PIX,9491,Sim,36,9
2,9,Paulicéia,São Bernardo do Campo,2022-01-03,12:08,Beleza e cuidados pessoais,68.9,2,137.8,Cartão,5288,Não,39,9
3,4,Oswaldo Cruz,São Caetano do Sul,2022-01-03,9:29,Ferramentas e construção,80.9,5,404.5,PIX,9679,Sim,35,10
4,8,Parque das nações,Santo André,2022-01-03,13:02,Beleza e cuidados pessoais,165.0,4,660.0,PIX,1380,Não,50,9

In [3]:
# Agruda pela coluna metodo_pagamento criando uma coluna de indices, pega a coluna idade e aplica uma serie de metódos [max, min, median] arredonda os valores e ordena pelo valor da média por ordem crescente

df.groupby('metodo_pagamento', as_index=False)['idade'].agg(['min','median','max']).round().sort_values(by='median', ascending=False)

   metodo_pagamento  min  median  max
2          Dinheiro   18    50.0   70
3               PIX   18    40.0   68
1            Cartão   18    38.0   65
0  Carteira digital   18    27.0   60