#### Analisando as vendas por categoria de produto

Depois de avaliar o desempenho das unidades individuais da rede, a próxima tarefa é analisar o desempenho de vendas por categoria de produto. Esta análise é crucial para identificar quais categorias estão contribuindo mais significativamente para as receitas e podem ser alvos de estratégias de marketing ou ajustes de estoque.

Se você já carregou os dados para o exercício anterior, continue usando o mesmo DataFrame. Caso contrário, carregue os dados novamente usando a seguinte url:

```'https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv'```


Sua missão nesta atividade é aplicar o método groupby() para agrupar e sumarizar o valor total de vendas por categoria de produto. Para tornar os resultados ainda mais claros, ordene as categorias de acordo com o valor total de vendas, do maior para o menor.

In [3]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv"

df = pd.read_csv(url, na_values=["Infinity", "-Infinity", "inf", "-inf", "NaN"])

df.head()

,ID_compra,unidade,cidade,data,horario,categoria_produto,valor_unitario,quantidade,valor_total,metodo_pagamento,ID_cliente,programa_cashback,idade,avaliacao_compra
0,6,Parque das nações,Santo André,2022-01-03,15:40,Eletrônicos,4457.9,4,17831.6,Dinheiro,6149,Sim,30,10
1,5,Oswaldo Cruz,São Caetano do Sul,2022-01-03,16:48,Ferramentas e construção,115.9,1,115.9,PIX,9491,Sim,36,9
2,9,Paulicéia,São Bernardo do Campo,2022-01-03,12:08,Beleza e cuidados pessoais,68.9,2,137.8,Cartão,5288,Não,39,9
3,4,Oswaldo Cruz,São Caetano do Sul,2022-01-03,9:29,Ferramentas e construção,80.9,5,404.5,PIX,9679,Sim,35,10
4,8,Parque das nações,Santo André,2022-01-03,13:02,Beleza e cuidados pessoais,165.0,4,660.0,PIX,1380,Não,50,9

In [5]:
# Agruda pela coluna categoria_produto criando uma coluna de indices, pega a coluna valor_total e aplica uma soma e ordena os valores de maneira crescente

df.groupby('categoria_produto', as_index=False)['valor_total'].sum().sort_values(by='valor_total', ascending=False)

            categoria_produto  valor_total
3                 Eletrônicos   14898778.5
1  Beleza e cuidados pessoais     423262.9
2              Casa e limpeza     316688.6
4    Ferramentas e construção     252953.1
0         Alimentos e bebidas     231284.3
5                      Livros      75265.0
6      Papelaria e escritório      45221.6